= image_tag 'loading-icon-large.gif', :id => 'loading-icon-large', :alt => 'Loading...'
:javascript
  $(function() {
    $('#loading-icon-large').center(true);
    Ajax.loadPage($('#loading-icon-large').parent());
  });
